<body>
	<p>
	  <strong>name:</strong>
	  <%= @movie.name %>
	</p>
	 
	<p>
	  <strong>language:</strong>
	  <%= @movie.language %>
	</p>
	<p>
	  <strong>year:</strong>
	  <%= @movie.year %>
	</p>
	 
	<p>
	  <strong>movie type:</strong>
	  <%= @movie.movie_type %>
	</p>
<%= link_to 'Back', movies_path %><br>
<%= link_to 'Home', '/welcome/index.html' %>
</body>
